In [40]:
#Plotting libraries
import pandas as pd
import numpy as np

In [41]:
#Importing Dataset
dataset = pd.read_csv('data/weather_dataset.csv', parse_dates= True, index_col=None, header=0, encoding='latin-1',  sep=';')

In [42]:
# MAke a copy
df = dataset.copy()

In [43]:
df.head(10)

,Date,Temperature,Average humidity (%),Average dewpoint (F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (F),Date1,Month,diff_pressure
0,01/01/2022,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01/01/2022,1,0.16600000000000037
1,02/01/2022,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,02/01/2022,1,0.4009999999999998
2,03/01/2022,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,03/01/2022,1,0.9719999999999978
3,04/01/2022,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,04/01/2022,1,0.33899999999999864
4,05/01/2022,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,05/01/2022,1,0.6649999999999991
5,06/01/2022,24.8,42.0,4.6,29.8,16.0,23.9,276.0,0.0,0.0,...,5.0,27.0,29.879,29.637,29.9,48.0,32.0,06/01/2022,1,0.24200000000000088
6,07/01/2022,34.2,60.0,21.6,29.7,20.4,30.0,276.0,0.0,0.0,...,8.0,46.0,29.860,29.602,38.0,54.0,39.0,07/01/2022,1,0.2579999999999991
7,08/01/2022,42.1,41.0,20.0,29.8,17.5,25.2,265.0,0.0,0.0,...,5.0,28.0,29.883,29.627,35.7,49.0,51.0,08/01/2022,1,0.2560000000000002
8,09/01/2022,30.3,46.0,11.4,30.0,6.9,10.6,292.0,0.0,0.0,...,8.0,27.0,30.446,29.575,24.2,36.0,41.0,09/01/2022,1,0.8710000000000022
9,10/01/2022,26.2,38.0,3.6,30.4,18.2,24.6,258.0,0.0,0.0,...,4.0,29.0,30.489,30.291,31.1,46.0,32.0,10/01/2022,1,0.1980000000000004

In [44]:
# to check no of columns and rows
df.shape

(3903, 23)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       3903 non-null   object
 1    Temperature               3903 non-null   float64
 2    Average humidity (%)      3903 non-null   float64
 3    Average dewpoint (F)      3903 non-null   float64
 4    Average barometer (in)    3903 non-null   float64
 5    Average windspeed (mph)   3903 non-null   float64
 6    Average gustspeed (mph)   3903 non-null   float64
 7    Average direction (deg)   3903 non-null   float64
 8    Rainfall for month (in)   3903 non-null   float64
 9   Rainfall for year (in)     3903 non-null   float64
 10   Maximum rain per minute   3903 non-null   float64
 11   Maximum temperature (F)   3903 non-null   float64
 12   Minimum temperature (F)   3903 non-null   float64
 13   Maximum humidity (%)      3903 non-null   float64
 14   Minimum humidity (%)      3903 non-null   float64
 15   Maximum pressure          3903 non-null   float64
 16   Minimum pressure          3903 non-null   float64
 17   Maximum windspeed (mph)   3903 non-null   float64
 18   Maximum gust speed (mph)  3903 non-null   float64
 19   Maximum heat index (F)    3903 non-null   float64
 20  Date1                      3903 non-null   object
 21   Month                     3903 non-null   int64
 22   diff_pressure             3903 non-null   object
dtypes: float64(19), int64(1), object(3)
memory usage: 701.4+ KB

In [46]:
df.head(2)

,Date,Temperature,Average humidity (%),Average dewpoint (F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (F),Date1,Month,diff_pressure
0,01/01/2022,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01/01/2022,1,0.16600000000000037
1,02/01/2022,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,02/01/2022,1,0.4009999999999998

In [47]:
#Get rid of extra spaces
df.columns=df.columns.str.lstrip()

In [48]:
#Information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3903 non-null   object
 1   Temperature               3903 non-null   float64
 2   Average humidity (%)      3903 non-null   float64
 3   Average dewpoint (F)      3903 non-null   float64
 4   Average barometer (in)    3903 non-null   float64
 5   Average windspeed (mph)   3903 non-null   float64
 6   Average gustspeed (mph)   3903 non-null   float64
 7   Average direction (deg)   3903 non-null   float64
 8   Rainfall for month (in)   3903 non-null   float64
 9   Rainfall for year (in)    3903 non-null   float64
 10  Maximum rain per minute   3903 non-null   float64
 11  Maximum temperature (F)   3903 non-null   float64
 12  Minimum temperature (F)   3903 non-null   float64
 13  Maximum humidity (%)      3903 non-null   float64
 14  Minimum humidity (%)      3903 non-null   float64
 15  Maximum pressure          3903 non-null   float64
 16  Minimum pressure          3903 non-null   float64
 17  Maximum windspeed (mph)   3903 non-null   float64
 18  Maximum gust speed (mph)  3903 non-null   float64
 19  Maximum heat index (F)    3903 non-null   float64
 20  Date1                     3903 non-null   object
 21  Month                     3903 non-null   int64
 22  diff_pressure             3903 non-null   object
dtypes: float64(19), int64(1), object(3)
memory usage: 701.4+ KB

In [49]:
df.head(2)

,Date,Temperature,Average humidity (%),Average dewpoint (F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (F),Date1,Month,diff_pressure
0,01/01/2022,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01/01/2022,1,0.16600000000000037
1,02/01/2022,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,02/01/2022,1,0.4009999999999998

In [50]:
df.columns

Index(['Date', 'Temperature', 'Average humidity (%)', 'Average dewpoint (F)',
       'Average barometer (in)', 'Average windspeed (mph)',
       'Average gustspeed (mph)', 'Average direction (deg)',
       'Rainfall for month (in)', 'Rainfall for year (in)',
       'Maximum rain per minute', 'Maximum temperature (F)',
       'Minimum temperature (F)', 'Maximum humidity (%)',
       'Minimum humidity (%)', 'Maximum pressure', 'Minimum pressure',
       'Maximum windspeed (mph)', 'Maximum gust speed (mph)',
       'Maximum heat index (F)', 'Date1', 'Month', 'diff_pressure'],
      dtype='object')

In [51]:
df.head(5)

,Date,Temperature,Average humidity (%),Average dewpoint (F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (F),Date1,Month,diff_pressure
0,01/01/2022,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01/01/2022,1,0.16600000000000037
1,02/01/2022,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,02/01/2022,1,0.4009999999999998
2,03/01/2022,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,03/01/2022,1,0.9719999999999978
3,04/01/2022,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,04/01/2022,1,0.33899999999999864
4,05/01/2022,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,05/01/2022,1,0.6649999999999991

In [52]:
#to rename columns
df.rename(columns={
  'Date': 'Date',
  'Temperature': 'Average_temperature',
  'Average humidity (%)': 'Average_humidity',
  'Average dewpoint (F)': 'Average_dewpoint',
  'Average barometer (in)': 'Average_barometer',
  'Average windspeed (mph)': 'Average_windspeed',
  'Average gustspeed (mph)': 'Average_gust_speed',
  'Average direction (deg)': 'Average_direction_degree',
  'Rainfall for month (in)': 'Rainfall_for_month',
  'Rainfall for year (in)': 'Rainfall_for_year',
  'Maximum rain per minute': 'Maximum_rain_per_minute',
  'Maximum temperature (F)': 'Maximum_temperature',
  'Minimum temperature (F)': 'Minimum_temperature',
  'Maximum humidity (%)': 'Maximum_humidity',
  'Minimum humidity (%)': 'Minimum_humidity',
  'Maximum pressure': 'Maximum_pressure',
  'Minimum pressure': 'Minimum_pressure',
  'Maximum windspeed (mph)': 'Maximum_windspeed',
  'Maximum gust speed (mph)': 'Maximum_gust_speed',
  'Maximum heat index (F)': 'Maximum_heat_index',
  'Date1': 'Date1',
  'Month': 'Month',
  'diff_pressure': 'Diff_pressure'
}, inplace=True)

In [53]:
df.columns

Index(['Date', 'Average_temperature', 'Average_humidity', 'Average_dewpoint',
       'Average_barometer', 'Average_windspeed', 'Average_gust_speed',
       'Average_direction_degree', 'Rainfall_for_month', 'Rainfall_for_year',
       'Maximum_rain_per_minute', 'Maximum_temperature', 'Minimum_temperature',
       'Maximum_humidity', 'Minimum_humidity', 'Maximum_pressure',
       'Minimum_pressure', 'Maximum_windspeed', 'Maximum_gust_speed',
       'Maximum_heat_index', 'Date1', 'Month', 'Diff_pressure'],
      dtype='object')

In [54]:
df.head(6)

,Date,Average_temperature,Average_humidity,Average_dewpoint,Average_barometer,Average_windspeed,Average_gust_speed,Average_direction_degree,Rainfall_for_month,Rainfall_for_year,...,Maximum_humidity,Minimum_humidity,Maximum_pressure,Minimum_pressure,Maximum_windspeed,Maximum_gust_speed,Maximum_heat_index,Date1,Month,Diff_pressure
0,01/01/2022,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01/01/2022,1,0.16600000000000037
1,02/01/2022,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,02/01/2022,1,0.4009999999999998
2,03/01/2022,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,03/01/2022,1,0.9719999999999978
3,04/01/2022,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,04/01/2022,1,0.33899999999999864
4,05/01/2022,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,05/01/2022,1,0.6649999999999991
5,06/01/2022,24.8,42.0,4.6,29.8,16.0,23.9,276.0,0.0,0.0,...,5.0,27.0,29.879,29.637,29.9,48.0,32.0,06/01/2022,1,0.24200000000000088

In [36]:
#changing Date column to datetime
#df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')
#df['Date'].dtype

dtype('<M8[ns]')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      0 non-null      datetime64[ns]
 1   Average_temperature       3903 non-null   float64
 2   Average_humidity          3903 non-null   float64
 3   Average_dewpoint          3903 non-null   float64
 4   Average_barometer         3903 non-null   float64
 5   Average_windspeed         3903 non-null   float64
 6   Average_gust_speed        3903 non-null   float64
 7   Average_direction_degree  3903 non-null   float64
 8   Rainfall_for_month        3903 non-null   float64
 9   Rainfall_for_year         3903 non-null   float64
 10  Maximum_rain_per_minute   3903 non-null   float64
 11  Maximum_temperature       3903 non-null   float64
 12  Minimum_temperature       3903 non-null   float64
 13  Maximum_humidity          3903 non-null   float64
 14  Minimum_humidity          3903 non-null   float64
 15  Maximum_pressure          3903 non-null   float64
 16  Minimum_pressure          3903 non-null   float64
 17  Maximum_windspeed         3903 non-null   float64
 18  Maximum_gust_speed        3903 non-null   float64
 19  Maximum_heat_index        3903 non-null   float64
 20  Date1                     3903 non-null   object
 21  Month                     3903 non-null   int64
 22  Diff_pressure             3903 non-null   object
dtypes: datetime64[ns](1), float64(19), int64(1), object(2)
memory usage: 701.4+ KB

In [39]:
df.head(20)

,Date,Average_temperature,Average_humidity,Average_dewpoint,Average_barometer,Average_windspeed,Average_gust_speed,Average_direction_degree,Rainfall_for_month,Rainfall_for_year,...,Maximum_humidity,Minimum_humidity,Maximum_pressure,Minimum_pressure,Maximum_windspeed,Maximum_gust_speed,Maximum_heat_index,Date1,Month,Diff_pressure
0,NaT,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.00,0.00,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01/01/2022,1,0.16600000000000037
1,NaT,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.00,0.00,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,02/01/2022,1,0.4009999999999998
2,NaT,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.00,0.00,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,03/01/2022,1,0.9719999999999978
3,NaT,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.00,0.00,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,04/01/2022,1,0.33899999999999864
4,NaT,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.00,0.00,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,05/01/2022,1,0.6649999999999991
5,NaT,24.8,42.0,4.6,29.8,16.0,23.9,276.0,0.00,0.00,...,5.0,27.0,29.879,29.637,29.9,48.0,32.0,06/01/2022,1,0.24200000000000088
6,NaT,34.2,60.0,21.6,29.7,20.4,30.0,276.0,0.00,0.00,...,8.0,46.0,29.860,29.602,38.0,54.0,39.0,07/01/2022,1,0.2579999999999991
7,NaT,42.1,41.0,20.0,29.8,17.5,25.2,265.0,0.00,0.00,...,5.0,28.0,29.883,29.627,35.7,49.0,51.0,08/01/2022,1,0.2560000000000002
8,NaT,30.3,46.0,11.4,30.0,6.9,10.6,292.0,0.00,0.00,...,8.0,27.0,30.446,29.575,24.2,36.0,41.0,09/01/2022,1,0.8710000000000022
9,NaT,26.2,38.0,3.6,30.4,18.2,24.6,258.0,0.00,0.00,...,4.0,29.0,30.489,30.291,31.1,46.0,32.0,10/01/2022,1,0.1980000000000004
10,NaT,30.1,41.0,9.0,30.3,17.0,24.6,270.0,0.00,0.00,...,5.0,29.0,30.421,30.112,31.1,44.0,36.0,11/01/2022,1,0.30900000000000105
11,NaT,23.4,60.0,11.0,30.3,7.4,11.0,351.0,0.03,0.03,...,8.0,41.0,30.524,30.012,25.3,33.0,32.0,12/01/2022,1,0.5120000000000005
12,NaT,32.4,47.0,14.6,30.2,16.3,22.6,254.0,0.03,0.03,...,5.0,34.0,30.340,30.046,32.2,47.0,38.0,13/01/2022,1,0.2940000000000005
13,NaT,33.1,45.0,14.2,30.2,9.9,14.0,259.0,0.03,0.03,...,5.0,34.0,30.271,30.115,29.9,32.0,39.0,14/01/2022,1,0.15600000000000236
14,NaT,35.7,42.0,14.5,30.3,7.9,11.8,270.0,0.03,0.03,...,5.0,28.0,30.405,30.201,19.6,26.0,43.0,15/01/2022,1,0.20400000000000063
15,NaT,41.6,28.0,9.7,30.3,11.9,16.7,269.0,0.03,0.03,...,4.0,14.0,30.432,30.127,26.5,37.0,53.0,16/01/2022,1,0.3049999999999997
16,NaT,40.9,21.0,3.1,30.3,6.7,9.7,276.0,0.03,0.03,...,2.0,11.0,30.435,30.093,21.9,26.0,54.0,17/01/2022,1,0.34199999999999875
17,NaT,43.4,15.0,-1.7,30.3,9.6,14.7,288.0,0.03,0.03,...,2.0,8.0,30.425,30.190,24.2,36.0,52.0,18/01/2022,1,0.23499999999999943
18,NaT,46.6,19.0,3.6,30.3,7.0,10.5,293.0,0.03,0.03,...,3.0,7.0,30.333,30.154,20.7,28.0,57.0,19/01/2022,1,0.1789999999999985
19,NaT,40.0,27.0,-1.0,30.4,4.8,7.4,285.0,0.03,0.03,...,6.0,4.0,30.607,30.016,18.4,26.0,61.0,20/01/2022,1,0.5910000000000011

In [19]:
#to drop columns
df = df.drop(columns=['Date1', 'Month' , 'Diff_pressure'])

In [20]:
df

,Date,Average_temperature,Average_humidity,Average_dewpoint,Average_barometer,Average_windspeed,Average_gust_speed,Average_direction_degree,Rainfall_for_month,Rainfall_for_year,Maximum_rain_per_minute,Maximum_temperature,Minimum_temperature,Maximum_humidity,Minimum_humidity,Maximum_pressure,Minimum_pressure,Maximum_windspeed,Maximum_gust_speed,Maximum_heat_index
0,NaT,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.00,0.00,0.0,40.0,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0
1,NaT,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.00,0.00,0.0,52.0,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0
2,NaT,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.00,0.00,0.0,41.0,6.0,8.0,35.0,30.232,29.260,25.3,38.0,41.0
3,NaT,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.00,0.00,0.0,19.0,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0
4,NaT,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.00,0.00,0.0,30.0,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,NaT,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,0.0,69.2,55.1,90.0,36.0,29.781,29.645,8.1,17.3,77.5
3899,NaT,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,0.0,71.9,50.5,90.0,40.0,29.930,29.745,11.5,15.0,77.5
3900,NaT,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,0.0,77.3,43.6,96.0,35.0,29.941,29.781,13.8,18.4,78.2
3901,NaT,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,0.0,75.6,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6
3902,NaT,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,0.0,75.6,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3903 non-null   object
 1   Temperature               3903 non-null   float64
 2   Average humidity (%)      3903 non-null   float64
 3   Average dewpoint (F)      3903 non-null   float64
 4   Average barometer (in)    3903 non-null   float64
 5   Average windspeed (mph)   3903 non-null   float64
 6   Average gustspeed (mph)   3903 non-null   float64
 7   Average direction (deg)   3903 non-null   float64
 8   Rainfall for month (in)   3903 non-null   float64
 9   Rainfall for year (in)    3903 non-null   float64
 10  Maximum rain per minute   3903 non-null   float64
 11  Maximum temperature (F)   3903 non-null   float64
 12  Minimum temperature (F)   3903 non-null   float64
 13  Maximum humidity (%)      3903 non-null   float64
 14  Minimum humidity (%)      3903 non-null   float64
 15  Maximum pressure          3903 non-null   float64
 16  Minimum pressure          3903 non-null   float64
 17  Maximum windspeed (mph)   3903 non-null   float64
 18  Maximum gust speed (mph)  3903 non-null   float64
 19  Maximum heat index (F)    3903 non-null   float64
dtypes: float64(19), object(1)
memory usage: 610.0+ KB

In [144]:
# Finding duplicate values
df1 = df.duplicated().sum()

df1

1

In [145]:
# Dropping the duplicate Values
df=df.drop_duplicates()

In [146]:
# Checking if is there any duplicate values or not
df.duplicated().sum()

0

In [147]:
# sort dataFrame in date order

df.sort_values(by=["Date"], inplace=True, ascending=True)
df.Date

C:\Users\agnis\Desktop\sample_project\env\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

0       01/01/2022
2307    01/01/2022
1956    01/01/2022
2673    01/01/2022
1599    01/01/2022
           ...
1598    31/12/2022
1955    31/12/2022
941     31/12/2022
2672    31/12/2022
2306    31/12/2022
Name: Date, Length: 3902, dtype: object

In [148]:
# date sortwise dataset
df

,Date,Temperature,Average humidity (%),Average dewpoint (F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (deg),Rainfall for month (in),Rainfall for year (in),Maximum rain per minute,Maximum temperature (F),Minimum temperature (F),Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (F)
0,01/01/2022,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.00,0.00,0.0,40.0,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0
2307,01/01/2022,7.5,51.0,-9.4,30.8,0.7,1.3,56.0,0.00,0.00,0.0,37.8,-12.2,75.0,11.0,31.021,30.543,6.9,10.4,37.8
1956,01/01/2022,8.1,65.0,-2.1,30.4,1.2,2.3,28.0,0.01,0.01,0.0,31.3,-9.0,78.0,31.0,30.606,30.230,10.4,13.8,31.3
2673,01/01/2022,33.4,38.0,10.2,29.6,9.8,14.7,216.0,0.00,0.00,0.0,37.0,29.7,44.0,29.0,29.663,29.467,23.0,34.5,37.0
1599,01/01/2022,26.9,57.0,13.4,30.1,5.6,8.7,268.0,0.00,0.00,0.0,34.6,15.9,88.0,33.0,30.383,29.843,18.4,29.9,34.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,31/12/2022,35.6,45.0,16.1,30.0,13.3,19.7,244.0,0.17,16.41,0.0,40.7,31.5,58.0,34.0,30.088,29.868,35.7,46.0,40.7
1955,31/12/2022,-1.1,61.0,-12.2,30.8,0.8,1.5,21.0,0.26,11.39,0.0,26.2,-21.1,76.0,32.0,31.135,30.422,6.9,11.5,26.2
941,31/12/2022,29.6,35.0,3.8,29.9,12.6,19.3,239.0,0.19,11.84,0.0,44.5,22.1,81.0,14.0,30.459,29.376,29.9,51.8,44.5
2672,31/12/2022,34.3,33.0,7.5,29.6,9.8,14.2,251.0,0.33,8.28,0.0,42.6,23.6,48.0,22.0,29.757,29.554,26.5,42.6,42.6
2306,31/12/2022,6.7,66.0,-2.5,30.6,1.2,2.2,61.0,0.35,14.96,0.0,22.5,-5.4,79.0,40.0,30.909,30.338,9.2,12.7,22.5

In [151]:
df.Temperature.unique()

array([ 37.8,   7.5,   8.1,  33.4,  26.9,  30.5,  34.6,  32.4,  13.4,
         2.4,  32.1,   6.6,  41.2,  18.1,  24.2,  27.1,  31.9,  13.1,
       -12.1,  40. ,  30.8,  28.7,  26.1,  20.8,  36.4,  16.9,  24.1,
        34.7,  40.6,  22.9,  35.4,  31.1,  34. ,  60.1,  24.8,  46.8,
        49.5,  39.5,  34.1,  28.5,  55.7,  44.3,  57.8,  34.3,  37.2,
        41.9,  55.6,  54.8,  59.3,  53. ,  68.6,  50.2,  61.4,  50.6,
        59.4,  51.6,  59.9,  65.5,  60.4,  61. ,  62.5,  70.4,  56. ,
        62. ,  59.8,  65.9,  60.6,  60.3,  59.2,  70.6,  63.4,  60.9,
        67.9,  68.1,  57.5,  54.4,  58.1,  63.9,  61.2,  62.6,  66.7,
        61.9,  53.8,  45.6,  54.3,  45.2,  35. ,  56.7,  49.1,  52.3,
        50.7,  44.5,  36.5,  47.3,  28.4,  41.1,  37. ,  50.3,  50.4,
        43.6,  51. ,  51.5,  23.7,  42.2,  46.3,  29.9,  15.7,  35.2,
        16.1,  29.7,  13.7,  36.6,  43.2,  20.5,  36.3,  40.5,  41.5,
        33. ,  45.1,  12.3,  13.8, -11.9,  23. ,  35.3,  29.8,  32.6,
        39.9,  40.8,  11.6,  27.8,  26.4,  33.3,  54. ,  34.2,  33.7,
        51.7,  31.8,  26.3,  29.1,  28.9,  36. ,  42.6,  38.3,  47.1,
        37.4,  36.1,  51.8,  53.5,  37.7,  55.4,  54.9,  59.6,  58.3,
        56.3,  58.7,  57.7,  52.8,  63.5,  59. ,  63.3,  66.4,  64.2,
        65.1,  59.5,  60.5,  58.8,  64.1,  72.1,  67.7,  61.6,  65.7,
        65.3,  69.8,  56.4,  53.9,  64. ,  67.6,  60.7,  44.2,  52.5,
        46.4,  41.6,  58. ,  49.6,  49.7,  34.9,  39.3,  21.4,  47.8,
        38.8,  43. ,  38.6,  44.7,  42.9,  37.9,  16.6,  20.4,  16.8,
        24.5,  31. ,  35.9,  29.6,  23.1,  43.7,  13.2,  39.4,  25.7,
         8.5,  42.3,  38.5,  13.6,  40.4,  10. ,  20.9,  30.6,  42.4,
        31.4,  38.1,  48.7,  25.9,   1. ,  18.9,  42.5,  30.4,  29.5,
        20.3,  26. ,  30.9,  43.5,  44.4,  42.1,  54.7,  39.6,  44. ,
        62.2,  55.2,  60. ,  65.2,  48.3,  57.4,  58.4,  66. ,  67.4,
        62.1,  68. ,  67.2,  65.4,  64.6,  68.2,  64.4,  62.4,  69.6,
        65.8,  52.9,  53.3,  63.6,  63. ,  46. ,  55. ,  37.1,  46.2,
        44.6,  52.7,  33.1,  35.8,  46.9,  45.7,  38. ,  43.4,  48.1,
        44.8,  27.9,  12.7,  46.5,  32.7,  38.9,  21.1,  12.6,  19.1,
        12. ,  25. ,   9.3,  26.6,  29. ,  40.9,   2.7,  43.3,   5.9,
        25.4,  43.9,  36.9,  41.3,  10.8,  48.6,  34.5,  47.5,  40.7,
        48.5,  57.1,  54.6,  61.7,  70.9,  56.2,  57.3,  69.5,  59.1,
        58.9,  56.5,  63.2,  68.9,  57.6,  57.9,  56.8,  61.5,  33.9,
        54.1,  54.5,  32. ,  39.2,  25.5,   0.5,  31.7,  41. ,  38.2,
        18.8,  31.3,  -2.4,  43.1,  23.5,  30.3,   3.3,  20.2,  33.8,
        11.4,  31.5,  -9.1,  27. ,  45.9,  27.3,  45.8,  39.8,  44.9,
        35.7,  40.1,  22. ,  48.4,  52. ,  48.9,  66.8,  64.5,  60.8,
        52.4,  58.2,  66.3,  67.1,  59.7,  64.9,  48.8,  66.9,  38.7,
        50. ,  41.4,  33.5,  35.5,  56.1,  -4.4,  28.6,  46.7,  28.8,
        36.2,  18.4,  24.7,  10.3,  36.8,  15.5,  13.9,  31.2,  23.4,
        46.1,  32.3,  24.4,  44.1,  30. ,  51.4,  49.8,  61.8,  56.9,
        67. ,  64.8,  57. ,  41.7,  55.1,  26.7,  30.1,  31.6,  36.7,
        -4.3,  13.5,   1.4,  27.2,  37.5,  28.3,  25.2,  26.5,  22.2,
        21.5,   6.9,  19.6,  26.2,  27.7,  38.4,  32.9,  45.3,  47.9,
        37.3,  46.6,  40.3,  55.9,  50.9,  55.8,  57.2,  51.2,  51.1,
        58.6,  49.9,  53.7,  49.2,  24.6,  42.8,   3.4,  43.8,   2. ,
        25.6,  37.6,  19.5,  14.1,  27.5,  -0.4,  24.3,  40.2,  15.2,
        33.6,  41.8,  54.2,  39. ,  52.2,  47. ,  47.4,  39.1,  55.5,
        66.6,  62.9,  68.5,  63.8,  60.2,  29.2,  48.2,   1.6,   7.7,
        26.8,  23.3,  47.6,   1.9,  17.3,  32.2,  14.5,  42.7,  45.4,
        50.1,  64.7,  73.4,  61.1,  67.3,  50.5,  65.6,  67.5,  62.7,
        66.5,  67.8,  55.3,  62.3,  62.8,  51.9,  53.2,  12.1,   6.5,
        22.7,   3.5,  15.6,  33.2,  27.4,  25.8,  19.7,  49.4,  15.1,
        45. ,  51.3,  70.7,  69.9,  68.3,  64.3,  68.8,  72.2,  68.7,
        53.6,  52.6,  19.4,  17.4,  21.8,  18.3,  11.7,  34.8,  23.2,
        23.8,  42. ,  66.1,  58.5,  65. ,  23.9,  39.7,   4.9,  21.7,
        22.8,  28. ,  32.5,   7.1,  24. ,  14.7,  47.7,  45.5,  49.3,
        66.2,  53.4,  -6.7,  30.2,  14.2,  -1. ,  20.7,  19.9,  29.3,
        56.6,  71.6,  63.1,  53.1,  47.2,  49. ,  -0.6,  22.4,  18.2,
        16. ,  48. ,  22.5,  22.6,  50.8,  74.8,  70.1,  69.1,  17.9,
        27.6,  35.6,  20.1,  21.6,  22.3,  63.7,  69.4,  32.8,  16.4,
        18.6,  61.3,  35.1,  19.2,  11.5,  17.5,  14.6,  20.6,  16.7,
        18.5,  17.2,  29.4,  -0.7,  25.3,   7.9,  16.5,  74.3,  76.3,
        68.4,  23.6,   7.4,  16.2,  52.1,  74.5,  74.4,  69. ,  72.3,
        30.7,  28.1,  19.8,   5.4,  15. ,  70. ,  18.7,  16.3,  11. ,
        74.2,  25.1,  15.3,  13. ,  28.2,   3.7,  70.2,  11.1,  34.4,
        71.1,   8.6,  75.3,  72.5,  15.8,  18. ,  21. ,   3.6,  14.8,
        73. ,  71. ,  17.7,   2.8,   8.8,  74.9,  11.3,  13.3,   9.4,
         8.7,  21.9,   8.4,  71.4,  74.7,  10.2,   6. ,  17. ,  15.4,
        21.3,  11.9,  15.9,  17.8,  70.5,   5.7,  17.1,  10.9,   9.2,
        -9.6,  10.6,  69.7,  12.5,   1.5,   9.5,  -1.1,   6.7])

In [71]:
df.Date.unique()

array(['01/01/2022', '01/02/2022', '01/03/2022', '01/04/2022',
       '01/05/2022', '01/06/2022', '01/07/2022', '01/08/2022',
       '01/09/2022', '01/10/2022', '01/11/2022', '01/12/2022',
       '02/01/2022', '02/02/2022', '02/03/2022', '02/04/2022',
       '02/05/2022', '02/06/2022', '02/07/2022', '02/08/2022',
       '02/09/2022', '02/10/2022', '02/11/2022', '02/12/2022',
       '03/01/2022', '03/02/2022', '03/03/2022', '03/04/2022',
       '03/05/2022', '03/06/2022', '03/07/2022', '03/08/2022',
       '03/09/2022', '03/10/2022', '03/11/2022', '03/12/2022',
       '04/01/2022', '04/02/2022', '04/03/2022', '04/04/2022',
       '04/05/2022', '04/06/2022', '04/07/2022', '04/08/2022',
       '04/09/2022', '04/10/2022', '04/11/2022', '04/12/2022',
       '05/01/2022', '05/02/2022', '05/03/2022', '05/04/2022',
       '05/05/2022', '05/06/2022', '05/07/2022', '05/08/2022',
       '05/09/2022', '05/10/2022', '05/11/2022', '05/12/2022',
       '06/01/2022', '06/02/2022', '06/03/2022', '06/04/2022',
       '06/05/2022', '06/06/2022', '06/07/2022', '06/08/2022',
       '06/09/2022', '06/10/2022', '06/11/2022', '06/12/2022',
       '07/01/2022', '07/02/2022', '07/03/2022', '07/04/2022',
       '07/05/2022', '07/06/2022', '07/07/2022', '07/08/2022',
       '07/09/2022', '07/10/2022', '07/11/2022', '07/12/2022',
       '08/01/2022', '08/02/2022', '08/03/2022', '08/04/2022',
       '08/05/2022', '08/06/2022', '08/07/2022', '08/08/2022',
       '08/09/2022', '08/10/2022', '08/11/2022', '08/12/2022',
       '09/01/2022', '09/02/2022', '09/03/2022', '09/04/2022',
       '09/05/2022', '09/06/2022', '09/07/2022', '09/08/2022',
       '09/09/2022', '09/10/2022', '09/11/2022', '09/12/2022',
       '10/01/2022', '10/02/2022', '10/03/2022', '10/04/2022',
       '10/05/2022', '10/06/2022', '10/07/2022', '10/08/2022',
       '10/09/2022', '10/10/2022', '10/11/2022', '10/12/2022',
       '11/01/2022', '11/02/2022', '11/03/2022', '11/04/2022',
       '11/05/2022', '11/06/2022', '11/07/2022', '11/08/2022',
       '11/09/2022', '11/10/2022', '11/11/2022', '11/12/2022',
       '12/01/2022', '12/02/2022', '12/03/2022', '12/04/2022',
       '12/05/2022', '12/06/2022', '12/07/2022', '12/08/2022',
       '12/09/2022', '12/10/2022', '12/11/2022', '12/12/2022',
       '13/01/2022', '13/02/2022', '13/03/2022', '13/04/2022',
       '13/05/2022', '13/06/2022', '13/07/2022', '13/08/2022',
       '13/09/2022', '13/10/2022', '13/11/2022', '13/12/2022',
       '14/01/2022', '14/02/2022', '14/03/2022', '14/04/2022',
       '14/05/2022', '14/06/2022', '14/07/2022', '14/08/2022',
       '14/09/2022', '14/10/2022', '14/11/2022', '14/12/2022',
       '15/01/2022', '15/02/2022', '15/03/2022', '15/04/2022',
       '15/05/2022', '15/06/2022', '15/07/2022', '15/08/2022',
       '15/09/2022', '15/10/2022', '15/11/2022', '15/12/2022',
       '16/01/2022', '16/02/2022', '16/03/2022', '16/04/2022',
       '16/05/2022', '16/06/2022', '16/07/2022', '16/08/2022',
       '16/09/2022', '16/10/2022', '16/11/2022', '16/12/2022',
       '17/01/2022', '17/02/2022', '17/03/2022', '17/04/2022',
       '17/05/2022', '17/06/2022', '17/07/2022', '17/08/2022',
       '17/09/2022', '17/10/2022', '17/11/2022', '17/12/2022',
       '18/01/2022', '18/02/2022', '18/03/2022', '18/04/2022',
       '18/05/2022', '18/06/2022', '18/07/2022', '18/08/2022',
       '18/09/2022', '18/10/2022', '18/11/2022', '18/12/2022',
       '19/01/2022', '19/02/2022', '19/03/2022', '19/04/2022',
       '19/05/2022', '19/06/2022', '19/07/2022', '19/08/2022',
       '19/09/2022', '19/10/2022', '19/11/2022', '19/12/2022',
       '20/01/2022', '20/02/2022', '20/03/2022', '20/04/2022',
       '20/05/2022', '20/06/2022', '20/07/2022', '20/08/2022',
       '20/09/2022', '20/10/2022', '20/11/2022', '20/12/2022',
       '2022-02-29', '21/01/2022', '21/02/2022', '21/03/2022',
       '21/04/2022', '21/05/2022', '21/06/2022', '21/07/2022',
       '21/08/2022', '21/09/2022', '21/10/2022', '21/11/2022',
       '21/12/2022', '22/01/2022', '22/02/2022', '22/03/2022',
       '22/04/2022', '22/05/2022', '22/06/2022', '22/07/2022',
       '22/08/2022', '22/09/2022', '22/10/2022', '22/11/2022',
       '22/12/2022', '23/01/2022', '23/02/2022', '23/03/2022',
       '23/04/2022', '23/05/2022', '23/06/2022', '23/07/2022',
       '23/08/2022', '23/09/2022', '23/10/2022', '23/11/2022',
       '23/12/2022', '24/01/2022', '24/02/2022', '24/03/2022',
       '24/04/2022', '24/05/2022', '24/06/2022', '24/07/2022',
       '24/08/2022', '24/09/2022', '24/10/2022', '24/11/2022',
       '24/12/2022', '25/01/2022', '25/02/2022', '25/03/2022',
       '25/04/2022', '25/05/2022', '25/06/2022', '25/07/2022',
       '25/08/2022', '25/09/2022', '25/10/2022', '25/11/2022',
       '25/12/2022', '26/01/2022', '26/02/2022', '26/03/2022',
       '26/04/2022', '26/05/2022', '26/06/2022', '26/07/2022',
       '26/08/2022', '26/09/2022', '26/10/2022', '26/11/2022',
       '26/12/2022', '27/01/2022', '27/02/2022', '27/03/2022',
       '27/04/2022', '27/05/2022', '27/06/2022', '27/07/2022',
       '27/08/2022', '27/09/2022', '27/10/2022', '27/11/2022',
       '27/12/2022', '28/01/2022', '28/02/2022', '28/03/2022',
       '28/04/2022', '28/05/2022', '28/06/2022', '28/07/2022',
       '28/08/2022', '28/09/2022', '28/10/2022', '28/11/2022',
       '28/12/2022', '29/01/2022', '29/03/2022', '29/04/2022',
       '29/05/2022', '29/06/2022', '29/07/2022', '29/08/2022',
       '29/09/2022', '29/10/2022', '29/11/2022', '29/12/2022',
       '30/01/2022', '30/03/2022', '30/04/2022', '30/05/2022',
       '30/06/2022', '30/07/2022', '30/08/2022', '30/09/2022',
       '30/10/2022', '30/11/2022', '30/12/2022', '31/01/2022',
       '31/03/2022', '31/05/2022', '31/07/2022', '31/08/2022',
       '31/10/2022', '31/12/2022'], dtype=object)

In [72]:
# Drop the row which contain 29th february, 2022 which is not possible
df= df[df['Date']!='2022-02-29']
df.Date.unique()

array(['01/01/2022', '01/02/2022', '01/03/2022', '01/04/2022',
       '01/05/2022', '01/06/2022', '01/07/2022', '01/08/2022',
       '01/09/2022', '01/10/2022', '01/11/2022', '01/12/2022',
       '02/01/2022', '02/02/2022', '02/03/2022', '02/04/2022',
       '02/05/2022', '02/06/2022', '02/07/2022', '02/08/2022',
       '02/09/2022', '02/10/2022', '02/11/2022', '02/12/2022',
       '03/01/2022', '03/02/2022', '03/03/2022', '03/04/2022',
       '03/05/2022', '03/06/2022', '03/07/2022', '03/08/2022',
       '03/09/2022', '03/10/2022', '03/11/2022', '03/12/2022',
       '04/01/2022', '04/02/2022', '04/03/2022', '04/04/2022',
       '04/05/2022', '04/06/2022', '04/07/2022', '04/08/2022',
       '04/09/2022', '04/10/2022', '04/11/2022', '04/12/2022',
       '05/01/2022', '05/02/2022', '05/03/2022', '05/04/2022',
       '05/05/2022', '05/06/2022', '05/07/2022', '05/08/2022',
       '05/09/2022', '05/10/2022', '05/11/2022', '05/12/2022',
       '06/01/2022', '06/02/2022', '06/03/2022', '06/04/2022',
       '06/05/2022', '06/06/2022', '06/07/2022', '06/08/2022',
       '06/09/2022', '06/10/2022', '06/11/2022', '06/12/2022',
       '07/01/2022', '07/02/2022', '07/03/2022', '07/04/2022',
       '07/05/2022', '07/06/2022', '07/07/2022', '07/08/2022',
       '07/09/2022', '07/10/2022', '07/11/2022', '07/12/2022',
       '08/01/2022', '08/02/2022', '08/03/2022', '08/04/2022',
       '08/05/2022', '08/06/2022', '08/07/2022', '08/08/2022',
       '08/09/2022', '08/10/2022', '08/11/2022', '08/12/2022',
       '09/01/2022', '09/02/2022', '09/03/2022', '09/04/2022',
       '09/05/2022', '09/06/2022', '09/07/2022', '09/08/2022',
       '09/09/2022', '09/10/2022', '09/11/2022', '09/12/2022',
       '10/01/2022', '10/02/2022', '10/03/2022', '10/04/2022',
       '10/05/2022', '10/06/2022', '10/07/2022', '10/08/2022',
       '10/09/2022', '10/10/2022', '10/11/2022', '10/12/2022',
       '11/01/2022', '11/02/2022', '11/03/2022', '11/04/2022',
       '11/05/2022', '11/06/2022', '11/07/2022', '11/08/2022',
       '11/09/2022', '11/10/2022', '11/11/2022', '11/12/2022',
       '12/01/2022', '12/02/2022', '12/03/2022', '12/04/2022',
       '12/05/2022', '12/06/2022', '12/07/2022', '12/08/2022',
       '12/09/2022', '12/10/2022', '12/11/2022', '12/12/2022',
       '13/01/2022', '13/02/2022', '13/03/2022', '13/04/2022',
       '13/05/2022', '13/06/2022', '13/07/2022', '13/08/2022',
       '13/09/2022', '13/10/2022', '13/11/2022', '13/12/2022',
       '14/01/2022', '14/02/2022', '14/03/2022', '14/04/2022',
       '14/05/2022', '14/06/2022', '14/07/2022', '14/08/2022',
       '14/09/2022', '14/10/2022', '14/11/2022', '14/12/2022',
       '15/01/2022', '15/02/2022', '15/03/2022', '15/04/2022',
       '15/05/2022', '15/06/2022', '15/07/2022', '15/08/2022',
       '15/09/2022', '15/10/2022', '15/11/2022', '15/12/2022',
       '16/01/2022', '16/02/2022', '16/03/2022', '16/04/2022',
       '16/05/2022', '16/06/2022', '16/07/2022', '16/08/2022',
       '16/09/2022', '16/10/2022', '16/11/2022', '16/12/2022',
       '17/01/2022', '17/02/2022', '17/03/2022', '17/04/2022',
       '17/05/2022', '17/06/2022', '17/07/2022', '17/08/2022',
       '17/09/2022', '17/10/2022', '17/11/2022', '17/12/2022',
       '18/01/2022', '18/02/2022', '18/03/2022', '18/04/2022',
       '18/05/2022', '18/06/2022', '18/07/2022', '18/08/2022',
       '18/09/2022', '18/10/2022', '18/11/2022', '18/12/2022',
       '19/01/2022', '19/02/2022', '19/03/2022', '19/04/2022',
       '19/05/2022', '19/06/2022', '19/07/2022', '19/08/2022',
       '19/09/2022', '19/10/2022', '19/11/2022', '19/12/2022',
       '20/01/2022', '20/02/2022', '20/03/2022', '20/04/2022',
       '20/05/2022', '20/06/2022', '20/07/2022', '20/08/2022',
       '20/09/2022', '20/10/2022', '20/11/2022', '20/12/2022',
       '21/01/2022', '21/02/2022', '21/03/2022', '21/04/2022',
       '21/05/2022', '21/06/2022', '21/07/2022', '21/08/2022',
       '21/09/2022', '21/10/2022', '21/11/2022', '21/12/2022',
       '22/01/2022', '22/02/2022', '22/03/2022', '22/04/2022',
       '22/05/2022', '22/06/2022', '22/07/2022', '22/08/2022',
       '22/09/2022', '22/10/2022', '22/11/2022', '22/12/2022',
       '23/01/2022', '23/02/2022', '23/03/2022', '23/04/2022',
       '23/05/2022', '23/06/2022', '23/07/2022', '23/08/2022',
       '23/09/2022', '23/10/2022', '23/11/2022', '23/12/2022',
       '24/01/2022', '24/02/2022', '24/03/2022', '24/04/2022',
       '24/05/2022', '24/06/2022', '24/07/2022', '24/08/2022',
       '24/09/2022', '24/10/2022', '24/11/2022', '24/12/2022',
       '25/01/2022', '25/02/2022', '25/03/2022', '25/04/2022',
       '25/05/2022', '25/06/2022', '25/07/2022', '25/08/2022',
       '25/09/2022', '25/10/2022', '25/11/2022', '25/12/2022',
       '26/01/2022', '26/02/2022', '26/03/2022', '26/04/2022',
       '26/05/2022', '26/06/2022', '26/07/2022', '26/08/2022',
       '26/09/2022', '26/10/2022', '26/11/2022', '26/12/2022',
       '27/01/2022', '27/02/2022', '27/03/2022', '27/04/2022',
       '27/05/2022', '27/06/2022', '27/07/2022', '27/08/2022',
       '27/09/2022', '27/10/2022', '27/11/2022', '27/12/2022',
       '28/01/2022', '28/02/2022', '28/03/2022', '28/04/2022',
       '28/05/2022', '28/06/2022', '28/07/2022', '28/08/2022',
       '28/09/2022', '28/10/2022', '28/11/2022', '28/12/2022',
       '29/01/2022', '29/03/2022', '29/04/2022', '29/05/2022',
       '29/06/2022', '29/07/2022', '29/08/2022', '29/09/2022',
       '29/10/2022', '29/11/2022', '29/12/2022', '30/01/2022',
       '30/03/2022', '30/04/2022', '30/05/2022', '30/06/2022',
       '30/07/2022', '30/08/2022', '30/09/2022', '30/10/2022',
       '30/11/2022', '30/12/2022', '31/01/2022', '31/03/2022',
       '31/05/2022', '31/07/2022', '31/08/2022', '31/10/2022',
       '31/12/2022'], dtype=object)

In [73]:
# Convert the value into datetime
df["Date"] = pd.to_datetime(df["Date"])

<ipython-input-73-82bcf08e2ec5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Date"] = pd.to_datetime(df["Date"])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 2306
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3900 non-null   datetime64[ns]
 1   Temperature               3900 non-null   float64
 2   Average humidity (%)      3900 non-null   float64
 3   Average dewpoint (F)      3900 non-null   float64
 4   Average barometer (in)    3900 non-null   float64
 5   Average windspeed (mph)   3900 non-null   float64
 6   Average gustspeed (mph)   3900 non-null   float64
 7   Average direction (deg)   3900 non-null   float64
 8   Rainfall for month (in)   3900 non-null   float64
 9   Rainfall for year (in)    3900 non-null   float64
 10  Maximum rain per minute   3900 non-null   float64
 11  Maximum temperature (F)   3900 non-null   float64
 12  Minimum temperature (F)   3900 non-null   float64
 13  Maximum humidity (%)      3900 non-null   float64
 14  Minimum humidity (%)      3900 non-null   float64
 15  Maximum pressure          3900 non-null   float64
 16  Minimum pressure          3900 non-null   float64
 17  Maximum windspeed (mph)   3900 non-null   float64
 18  Maximum gust speed (mph)  3900 non-null   float64
 19  Maximum heat index (F)    3900 non-null   float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 639.8 KB

In [86]:
df.Average humidity (%).unique()

SyntaxError: invalid syntax (<ipython-input-86-f1c545360630>, line 1)

In [87]:
df.to_csv("cleaned_weather_dataset.csv")

Note: you may need to restart the kernel to use updated packages.

The filename, directory name, or volume label syntax is incorrect.

In [92]:
df.to_excel("cleaned_weather_dataset.xlsx")

ModuleNotFoundError: No module named 'openpyxl'